body{
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

table, th, td{   
    border: 1px solid;
    text-align: center;    
    background-color: aquamarine;
}
a:link{
    color: blueviolet;
}