body{
    background-color: #566573;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

table, th, td{   
    border: 1px solid;
    text-align: center;    
    background-color: #21618C;
}
a:link{
    color: blueviolet;
}
