body {
    background-color: #6ca7d4;
    font-size: 20px;
    color: black;
}
#name{
    text-align: center;
}

#img{
    display: flex;
    flex-direction: column;
    height: 400px;
    float: right;
    width: 25%;
}
p{
    font-weight: bold;
  }